ul {
	list-style-type: none;
	margin: 0;
	padding:0;
	overflow: hidden;
	background-color: #345845;
}

li {
	float:left;
	border-right: 1px solid black;
}
	
li a {
	display: block;
	color:#CBB26A;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
}

li:hover {
	background-color: #345845;
}